@font-face {
    src: url("../fonts/Square.ttf");
}

.scrollpane-text{
    -fx-text-fill:#FFFFFF;
    -fx-font-family: "SquareFont";
    -fx-font-size:20px;
}

.blockPageLabel{
    -fx-font-family: "SquareFont";
    -fx-font-size:35px;
}

.button_style{
    -fx-font-family: SquareFont;
    -fx-font-size:12px;
    -fx-background-color: rgba(80, 5, 70, 1);
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #d9157b;
    -fx-border-width: 3;
}

.button_style_big{
    -fx-font-family: SquareFont;
    -fx-font-size:25px;
    -fx-background-color: rgba(80, 5, 70, 1);
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #d9157b;
    -fx-border-width: 3;
}

.buttonWheel_style{
    -fx-font-family: "SquareFont";
    -fx-font-size:18px;
    -fx-background-color: rgba(80, 5, 70, 1);
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #d9157b;
    -fx-border-width: 3;
}

.button_style:hover, .buttonWheel_style:hover, .button_style_big:hover {
    -fx-background-color: rgba(80, 5, 70, 0.7);
}


.textfield_style{
    -fx-border-color: #d9157b;
    -fx-border-width: 3;
}

.gold_text{
    -fx-text-fill: #feff43;
}
.silver_text{
    -fx-text-fill: rgb(163, 165, 164);
}
.bronze_text{
    -fx-text-fill: #8e5c2c;
}

.borderPane_style{
    -fx-border-color: #d9157b;
    -fx-border-insets: 5;
    -fx-border-width: 3;
}
